.form-rsvp {
  max-width: 320px;
}

.rsvp-tooltip {
  display: inline-block;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 87.5%;
  color: var(--bs-body-bg);
  background-color: var(--bs-emphasis-color);
  padding: 0.25rem 0.5rem;
  border-radius: var(--bs-border-radius);
}

#arrow {
  position: absolute;
  background-color: var(--bs-emphasis-color);
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}
